*{
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
}
.text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    font-weight: bold;
    color: #cf814d;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #333;
    width: 0;
    animation: typing 4s steps(18, end) forwards, blinkCursor 0.8s infinite;
    text-align: center;
    font-size: 80px;
}

@keyframes typing {
    from { width: 0; }
    to { width: 17ch; }
}

@keyframes blinkCursor {
    50% { border-color: transparent; }
}
.container{
    background: url(man-8702916_1280.jpg);
    height:100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn1 i{
    color:azure;
    font-size: 30px;
    font-weight: 700;
    position:absolute;
    top:10px;
    left:16px;
    line-height: 16px;
}
.side_bar{
    position: fixed;
    left:-300px;
    height:100vh;
    width:300px;
    background-color: white;
    box-shadow:0 0 6px black;
}
.side_bar .logo{
    margin-left:30px;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color:royalblue;
}
.side_bar .btn2{
    font-size: 30px;
    position:absolute;
    line-height: 60px;
    left:275px;
}
.side_bar .menu{
    position:absolute;
    width:100%;
    top:80px;
}
.side_bar .menu li{
    margin-top: 6px;
    padding:14px 20px;
}
.side_bar .menu i,a{
    color:black;
    text-decoration: none;
    font-size: 20px;
}
.side_bar .menu i{
    padding-right: 8px;
}
.side_bar .media{
    position:absolute;
    left:5%;
    bottom:50px;
}
.sidebar_menu .social_media i{
    color:white;
    opacity: 0.5;
    padding:0 5px;
}
#check{
    display:none;
}
.side_bar .menu li:hover{
    box-shadow: 0 0 4px grey;
}
.btn1 i:hover{
    font-size: 40px;
}
.btn2 i:hover{
    font-size:40px;
}
.side_bar .media i:hover{
    opacity:1;
    transform: scale(1.1);
}
#check:checked ~ .side_bar{
    left:0;
}
#check :checked ~ .btn1 i{
    opacity:0;
}
#check :checked~ .side_bar .btn2 {
    opacity:1;
}